[submodule "claire-fh/themes/ananke"]
	path = claire-fh/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "claire-fh/themes/terminal"]
	path = claire-fh/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
